body {
    font-family: 'Arial', sans-serif;
    background: url(/Picture/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

h1{
    color: #4CAF50;
    display: grid;
    justify-content: center;
}

h2 {
    color: #4CAF50;
    text-align: center;
}

.konten {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 1fr itu adalah 1 kolom */
    margin: 50px;
    grid-gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.konten img {
    grid-column: 1; 
    margin-top: 40px;
    width: 100%;
    height: auto;
}

.isi {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    line-height: 1.5;
}

ul {
    list-style-type: none; /* menghilangkan list yang ada */
    padding: 0;
}

li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    text-align: justify;
}

footer {
    background: rgb(242, 239, 233);
    padding: 20px 0;
    margin-top: 20px;
}

footer .sosmed, footer .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 0;
}

footer .sosmed li, footer .menu li {
    list-style: none;
    margin: 0 15px;
}

footer .sosmed li a {
    font-size: 2em;
    color: #050505;
    display: inline-block;
    transition: 0.5s;
}

footer .sosmed li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2em;
    color: #030303;
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.3s; 
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    margin-top: 15px;
    font-size: 1.1em; /* 1em = 16px */
    text-align: center;
}


@media screen and (max-width: 768px) {
    .konten {
        grid-template-columns: 1fr;
    }
    .konten img {
        grid-column: 1;
        max-width: 100vh; /* vh = ukuran layar */
    }
}